.focusableElement {
}

.focusableElement:focus {
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-left-color: rgb(255, 255, 73);
    border-right-color: rgb(255, 255, 73);
    border-top-color: rgb(255, 255, 73);
    border-bottom-color: rgb(255, 255, 73);
}
