.itemSquare {
    background-color: rgba(2, 17, 166, 0.57);
    border-left-color: rgba(0, 0, 0, 0.4);
    border-right-color: rgba(0, 0, 0, 0.4);
    border-top-color: rgba(0, 0, 0, 0.4);
    border-bottom-color: rgba(0, 0, 0, 0.4);
}
