.trigger {
    width: 30px;
    height: 20px;
    background-image: url('project://database/Assets/Textures/Inventory/Items/TriggerArrow.png?fileID=2800000&guid=4569524729f292f4ea9d8d3696c07fd8&type=3#TriggerArrow');
}
