.AugmentIcon {
    border-left-color: rgb(207, 207, 207);
    border-right-color: rgb(207, 207, 207);
    border-top-color: rgb(207, 207, 207);
    border-bottom-color: rgb(207, 207, 207);
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
}
